
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
</head>
<body>

                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}

    <div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    <!-- <h5 class="my-0 mr-md-auto font-weight-normal"> ebook Store</h5>-->
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Home</a>
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Profile</a>
      <a class="me-3 py-2 text-light text-decoration-none" href="#">Support</a>

    </nav>
    <a class="btn-outline-primary" href="/logout">LogOut </a>

   </div>

   <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="card">
             <div class="card-body">
                 <h2> My Libraries </h2> <button type="button"  class="btn btn-success float-right"  data-toggle="modal" data-target="#modaladdlibrary">Add New Library</button> </h2>
                 <a href="{{ url_for('search',) }}" class="btn btn-info btn-xs">Search Books Here</a>

             </div>
          </div>
         </div>
       </div>
     </div>


<div class="container">


                <table class="table table-hover table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                   {% for row in libraries %}
                    <tr>
                        <td>{{row.library_id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.description}}</td>
                        <td>
                            <a href="{{ url_for('library', library_id = row.library_id) }}" class="btn btn-primary btn-xs">Open</a>
                            <a href="{{ url_for('update_library', library_id = row.library_id) }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modalupdatelibrary{{row.library_id}}">Update</a>
                            <a href="{{ url_for('delete_library', library_id = row.library_id) }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>

    <!-- Modal Update Library-->
     <div id="modalupdatelibrary{{row.library_id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
       <div class="modal-header"><h4 class="modal-title">Update Library Information</h4></div>
        <div class="modal-body">
        <form action="{{ url_for('update_library', library_id = row.library_id) }}" method="post">
         <div class="form-group">
          <label>Name:</label>
          <input type="hidden"  name="library_id" value="{{row.library_id}}">
          <input type="text" class="form-control" name="name" value="{{row.name}}">
         </div>
         <div class="form-group">
          <label>Description:</label>
          <input type="text" class="form-control" name="description" value="{{row.description}}">
         </div>

         <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
         </div>
        </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
     </div>
     {% endfor %}

                    <!-- Modal Add Library-->
     <div id="modaladdlibrary" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
       <div class="modal-header"><h4 class="modal-title">Add New Library</h4></div>
        <div class="modal-body">
            <form action="{{url_for('add_library')}}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
                <div class="form-group">
                  <label>Description:</label>
                  <input type="text" class="form-control" name="description" required="1">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add Library</button>
               </div>
            </form>

        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
     </div>

    </table>
   </div>



 </div>
 </div>
</div>

{% block body %} {% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
